<ion-content class="pageContent">

  <ion-card>
    <ion-item no-lines text-center>
      <div style="color:#17A2B8; font-size: 30px;">
        <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
      </div>
      <h1 style="color:#17A2B8;">
        Create Client
      </h1>
    </ion-item>

    <form #loginForm="ngForm" (ngSubmit)="addAffiliate()" autocomplete="off">
      <div *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</div>
      <div *ngIf="successMessage" class="successMessage">{{successMessage}}</div>

      <ion-grid *ngIf="loggedInUser">

        <ion-row *ngIf="loggedInUser.userTypeId == 7">
          <ion-item>
            <ion-label floating>Select Type*</ion-label>
            <ion-select>
              <ion-option *ngFor="let aType of affiliateType" name="affiliateType">{{aType}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="loggedInUser.userTypeId == 7">
          <ion-item>
            <ion-label floating>Manager*</ion-label>
            <ion-select>
              <ion-option *ngFor="let manager of managers" name="affiliateType">{{manager}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>Email Id*</ion-label>
            <ion-input type="text" name="email" value=""></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>User Name*</ion-label>
            <ion-input type="text" name="userName" value=""></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>Security Amount*</ion-label>
            <ion-input type="text" name="securityAmount" value=""></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>Renewal Amount (per month)*</ion-label>
            <ion-input type="text" name="renewalAmount" value=""></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
            <ion-item>
              <ion-label floating>Duration*</ion-label>
              <ion-select>
                <ion-option *ngFor="let duration of durations" name="affiliateType">{{duration}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>Start Date*</ion-label>
            <ion-input type="date" name="startDate" value=""></ion-input>
          </ion-item>
        </ion-row>

        <ion-row padding>
          <button ion-button color="appPrimary" full type="submit">Submit</button>
        </ion-row>

      </ion-grid>
    </form>

  </ion-card>

</ion-content>