<ion-content class="pageContent">

  <ion-card>

    <ion-item text-center>
      <div style="color:#17A2B8; font-size: 30px;">
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      </div>
      <h1 style="color:#17A2B8;">
        Change Password
      </h1>
    </ion-item>

    <form #loginForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off">
      <div *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</div>
      <div *ngIf="successMessage" class="successMessage">{{successMessage}}</div>

      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label floating>Current Password</ion-label>
            <ion-input type="password" name="currentPassword" required [(ngModel)]="credentials.currentPassword"></ion-input>
          </ion-item>
        </ion-row>
        
        <ion-row>
          <ion-item>
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" name="newPassword" required [(ngModel)]="credentials.newPassword"></ion-input>
          </ion-item>
        </ion-row>
        
        <ion-row>
          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" name="confirmPassword" required [(ngModel)]="credentials.confirmPassword"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row padding>
          <button ion-button color="appPrimary" full type="submit" [disabled]="!loginForm.form.valid">Change</button>
        </ion-row>

      </ion-grid>
    </form>

  </ion-card>

</ion-content>