page-menu {


    button {
        ion-badge {
            position: absolute;
            top: -7px;
            font-size: 8px;
            opacity: 0.9;
            border-radius: 50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
        }
    }

}
